.contactWrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    display: flex;
    position: relative;
    font-family: 'Oswald', sans-serif;
    /* background-image: url(../images/motor.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex-direction: column;


}
.contactTitle{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}
.contactText{
    margin: 20px 0;
}
