.main{
    background-color: black;
    width: 90%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    background-image: url(../images/motor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Tytuł */
.mainTitle{
    color:white;
    font-size: 120px;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    left:30px;
    bottom: 300px;
    cursor: default;
    margin: 0;
}
/* Podtytuł */
.subTitle{
    color:white;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    left:30px;
    bottom: 250px;
    cursor: default;
    margin: 0;
}


.mainButton{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    right:5%;
    bottom: 100px;
    background-color: #0000007a;
    border: none;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif; 
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.mainButton:hover{box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.4);
}

.newsLetterModal{
    position: fixed;
    width: 90%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(82, 82, 82, 0.2);
    border-radius: 3px;
    left:5%;
    top:5vh;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    gap:20px;
}
.newsLetterModal p{
    width: 80%;
    margin:0
}

.newsLetterSmallModal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(82, 82, 82, 0.2);
    border-radius: 3px;
    display: flex;
    left:15%;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 50%;
    height: 20vh;
    left:25%;
    top:40vh;
    justify-content: center;
}
.newsLetterSmallModal p,
.newsLetterSmallModal h1 {
 text-align: center;   
 padding: 0;
 margin: 0;
}
.shadowBox,
.smallShadowBox{
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(5px);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.newsLetterForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 5px;
    gap: 20px;
}
.newsLetterInputContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 25px;
}
.newsLetterFormEl{
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    height: 30px;
}
.newsLetterBtnContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.newsModalTitle{
    font-family: 'Oswald', sans-serif;
    color:#ccccccb4;
    font-size: 18px;
    }
.newsLetterImg{
    max-width: 35%;
    border-radius: 5px;

}
.modalNewsBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-family: 'Oswald';
    font-size: 15px;
    color: #c7c7c7;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.13);
    background-color: rgba(48, 48, 48, 0.411);
    border-radius: 3px;
    cursor: pointer;
}
.modalNewsBtn:hover{
    background-color: rgb(128, 128, 128);
}
.newsModalSubtitle{
    padding: 0;
    margin: 0;
}
@media screen and (min-width: 500px) {

/* Tytuł */
.mainTitle{
    font-size: 260px;
}
/* Podtytuł */
.subTitle{
    font-size: 60px;
    left:30px;
    bottom: 250px;
}

.mainButton{
    width: 300px;
    right:100px;

}

.newsLetterModal,
.newsLetterSmallModal{
    width: 70%;
    height: 90vh;
    left:15%;
    top:5vh;
}
}
@media screen and (min-width: 1000px) {

.mainTitle{
    font-size: 285px;
    left:50px;
    bottom: 150px;
}
.subTitle{

    font-size: 78px;
    left:60px;
    bottom: 80px;
}

.demoIconFb:hover{
    cursor: pointer;
    color: #1877F2;
}

.newsLetterModal,
.newsLetterSmallModal{
    width: 70%;
    height: 90vh;
    left:15%;
    top:5vh;
}
.newsLetterSmallModal{
    width: 50%;
    left:25%;
    height: 20vh;
    top:40vh;
    justify-content: center;
}

.newsLetterBtnContainer{
    flex-direction: row;
}
.newsModalTitle{
    font-size: 25px;
    }
.newsLetterImg{
    width: 35%;
    max-width: 400px ;
}

}