
.mainNav{
    background-color: rgb(0, 0, 0, 0.5);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s;
    z-index: 2;
}
.mobileMenuShadowBox{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.479);
    opacity: 1;
    transition: all 0.5s;
    z-index: 2;
}
.mobileMenuShadowBoxOff{
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
}
.navMobileBtn{
    position: absolute;
    /* background-color: blue; */
    color:white;
    stroke: white;
    top:0;
    right:50px;
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: all 0.5s;
    cursor: pointer;
}
.mainNavListMobile{
    display: flex;
    flex-direction: column;
    gap:5px;
    list-style: none;
    z-index: 2;
}
.mainNavWrapperMenuMobileOff{
    position: absolute;
    right:0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    width: 200px;
    height: 200px;
    top:-500px;
    transition: all 0.5s;
    opacity: 0;
    z-index: -1;
}
.mainNavWrapperMenuMobile{
    position: absolute;
    top:50px;
    right:0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    width: 200px;
    height: auto;
    transition: all 0.5s;
    opacity: 1;
    z-index: 3;
}
.navMobileBtnIco{
    width: 50px;
}
.helloNav{
    color: white;
    position: absolute;
    left: 10px;
}
/* Nawigacja-Lista */
.mainNavList{
    display: none;
}
/* Element nawigacji */
.mainNavEl{
    border-bottom: 1px solid rgb(41, 41, 41);
}
.mainNavEl:last-child{
    border:none;
}
.mainNavList a{
    text-decoration: none;
}
.mainNavElText,
.mainNavElTextSelected{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.mainNavElTextSelected{
    cursor: pointer;
    color: rgb(172, 172, 172);
}
.mainNavElText:hover,
.mainNavElTextSelected:hover{
    cursor: pointer;
    color: lightblue;
    transition: all 0.5s;
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/font/fontello.eot?86056');
    src: url('../fonts/font/fontello.eot?86056#iefix') format('embedded-opentype'),
      url('../fonts/font/fontello.woff?86056') format('woff'),
      url('../fonts/font/fontello.ttf?86056') format('truetype'),
      url('../fonts/font/fontello.svg?86056#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .demoIconYt,
  .demoIconFb,
  .demoIconInsta {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
  }
.socialNavMobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    list-style: none;
    padding: 0;
}
  /* Sociale-Lista */
.socialNav{
    display: none;
}
/* Element nawigacji - social media */
.socialNavEl,
.socialNavEl a{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.demoIconYt:hover{
    cursor: pointer;
    color:#df0000 ;
}
.demoIconInsta:hover{
    cursor: pointer;
    color:#b22cff;
}
.demoIconFb:hover{
    cursor: pointer;
    color: #1877F2;
}

@media screen and (min-width: 840px) {
.mobileMenuShadowBox,.mobileMenuShadowBoxOff{display: none;}
.mainNavEl{border: none;}
.mainNavWrapperMenuMobile,.mainNavWrapperMenuMobileOff{display: none;}

.mainNavWrapperMenu{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s;
}

.navMobileBtn{
    top:-50px;
    opacity: 0;
    pointer-events: none;
}
.navMobileBtnIco{
    display: none;
}
/* Nawigacja-Lista */
.mainNavList{
    display: flex;
    gap:50px;
    list-style: none;
    width:80%;
    justify-content: center;
}

  /* Sociale-Lista */
.socialNav{
    display: flex;
    gap:25px;
    list-style: none;
    padding-right: 10px;
}

}
