.scheduleWrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    display: flex;
    position: relative;
    font-family: 'Oswald', sans-serif;
    /* background-image: url(../images/motor.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    flex-direction: column;
}
.addScheduleBtn,
.loBtn,
.sendScheduleBtn{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.13);
    background-color: rgba(0, 0, 0, 0.411);
    font-family: 'Oswald';
    font-size: 35px;
    color: #fff;
    padding: 0;
    margin: 0;
    z-index: 2;
    cursor: pointer;
    top: 50px;
    left:30px;
    transition: all 0.5s;
}
.loBtn{
    top:120px;
    font-size: 15px;
  }

.eventShadowbox{
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(8px);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.newEventModal{
    position: fixed;
    background-color: rgba(22, 22, 22, 0.8);
    border-radius: 5px;
    width: 300px;
    max-width: 1000px;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 550px;
    z-index: 4;
    padding: 30px;
    box-sizing: border-box;
    overflow: scroll;
}
.newEventModal::-webkit-scrollbar {
    display: none;
}
.eventModalTitle{
    margin: 0;
    font-family: Oswald;
    font-size: 35px;
    letter-spacing: 1px;
    text-align: center;
}
.eventCloseBtn{
    position: absolute;
    top:5px;
    right:5px;
    width: 35px;
    height: 35px;
    background-color: rgba(70, 70, 70, 0.5);
    border: 1px solid rgb(53, 53, 53);
    border-radius: 50%;
    transform: rotate(45deg);
    font-size: 25px;
    margin: 0;
    padding: 0;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}
.eventModalWrapper{
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 0;
}
.eventMap{
    display: flex;
    width: 100%;
    height: auto;
}
.eventMapWrapper{
    display: flex;
    width: 200px;
    height: 200px;
    position: relative;
    }
.mapBarHorizontal{
    position: absolute;
    width: 90%;
    left:5%;
    bottom:-20px;
    accent-color:rgb(220, 0, 0);
}
.mapBarVertical{
    position: absolute;
    bottom:5%;
    right:-20px;
    width: 10px;
    appearance: slider-vertical;
    height: 90%;
    padding: 0;
    accent-color:rgb(220, 0, 0);
}
.eventFormWrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid #252525;
    padding: 10px;
    border-radius: 3px;
}
.eventTextLabel{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    color:#b1b1b1;
    font-family: Oswald;
    letter-spacing: 0.5px;
}
.eventTextInput,
.eventTextArea,.eventTextDate{
    width: 200px;
    padding: 15px 8px;
    color:#fff;
    background-color: #3f3f3f;
    border: 1px solid #646464;
    font-family: Oswald;
    letter-spacing: 1px;
}

.eventTextArea{
    height: 120px;
    font-family: Oswald;
    letter-spacing: 1px;
    
}
.eventBtn{
    margin-top: 30px;
    padding: 10px;
    color:#fff;
    background-color: #1f1f1f;
    border: 1px solid #646464;
    font-family: Oswald;
    letter-spacing: 1px;
    cursor: pointer;
}
.eventBtn:hover{
    background-color: #3f3f3f;
}
.scheduleTitle{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}
.scheduleText{
    margin: 20px 0;
}
.mainWrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
    min-height: 500px;
    background-color: rgba(97, 97, 97, 0.2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mapWrapper,
.eventWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 0;
    
}
.mapWrapper{
    align-items: center;
    position: relative;
    height: 100%;
}
.map{
    position:relative;
    width: 100%;
    height: auto;
}

.eventTitle{
    font-size: 40px;
    margin: 5px;
}
.eventListWrapper{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.eventElement{
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
    border: solid 1px rgb(24, 24, 24);
    cursor: pointer;
}
.eventTitleWrapper{
    display: flex;
    align-items: baseline;    
    gap: 20px;
    padding: 0;
    position: relative;
}
.eventCity{
    font-size: 25px;
    padding: 0;
    margin: 5px;
    letter-spacing:5px;
}
.eventDate{
    position: absolute;
    top:-5px;
    left:-10px;
    font-size: 16px;
    color:rgb(167, 29, 29);
    padding: 0;
    margin: 0;
}
.eventDescribe{
    padding:  0 25px;
    margin-top: 0;
    color: #a7a7a7;

}
.eventMarker{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    z-index: 2;
}
.eventMarkerCity{
    position: absolute;
    font-size: 25px;
    top:-5px;
    left:25px;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
}
.eventMarkerDate{
    position: absolute;
    font-size: 15px;
    top:30px;
    left:25px;
    border-radius: 50%;
    color:red;
    z-index: 2;
    pointer-events: none;
}
@media screen and (min-width:450px){
    .eventMapWrapper{
        width: 300px;
        height: 300px;
        }
        .eventTextInput,
        .eventTextArea,.eventTextDate{
            width: 300px;
        }
        .newEventModal{
            width: 400px; 
        }
        .eventMarkerCity{
            font-size: 35px;
        }
        .eventMarkerDate{
            font-size: 20px;
            top:35px;
        }
}
@media screen and (min-width:650px){
    .map{
        position:relative;
        width: 80%;
        height: auto;
    }
}
@media screen and (min-width:910px){
    .map{
        width: 60%;
    }
    .eventMapWrapper{
        width: 400px;
        height: 400px;
        }
        .eventTextInput,
        .eventTextArea,
        .eventTextDate{
        width: 200px;
        }
        .newEventModal{
            width: 90%;
        }
}
@media screen and (min-width: 1100px) {
    .map{width: 100%;}
    .mainWrapper{
        flex-direction: row;
        align-items:normal;
    }
    .mapWrapper{
        height: 100%;
    }
    .eventCity{
        font-size: 35px;
    }
    .eventTitle{
        font-size: 50px;
    }
    .eventMapWrapper{
        width: 500px;
        height: 500px;
        }
}
@media screen and (max-height: 600px) {
    .eventModalTitle{display: none;}
    .eventMapWrapper{
        width: 200px;
        height: 200px;
        }
        .eventMarkerCity{
            font-size: 25px;
        }
        .eventMarkerDate{
            font-size: 15px;
            top:30px;
        }
        .eventTextInput,
        .eventTextArea,
        .eventTextDate{
            padding: 5px;
        }
        .eventTextArea{
            height: 75px;
        }
        .newEventModal{
            min-height: 300px;
            height: 400px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 4;
            padding: 5px;
            box-sizing: border-box;
            overflow: scroll;
        }
    }

    @media screen and (max-height: 700px) {
        .eventModalTitle{display: none;}
        }